*{
    padding: 0;
    margin: 0;
    
    color: #111C30;
}
main{
    background-color:#FFFFFF;
    padding: 15px;
   
    
}
body{
    width: 60%;
    margin: 0 auto;
    background-color:black;
}
table th{
    text-align: left;
}
table td{
    text-align: center;
}
table input{
    text-align: center;
}
tr:nth-child(even){
background-color: #F1F1F1;
}




/* .................. */

/* #contact{
    width: 50%;
} */


#fname{
    width: 25%;
}
#lname{
    width: 25%;
}
#email{
    width: 50%;
}

#fname #lname #email{
    border: 1px solid black;
}
#contact input{
     padding: 8px 0; 
     margin-top: 5px;
     margin-bottom: 5px;
}

#image img{
    width: 2.5rem;
}

h3{
    margin-top: 8px;
    margin-bottom: 4px;
    
}

table{
    margin: 20px;
    width: 75%;
    overflow: scroll;
    

   
}
table th,td,input{
          padding: 10px;
}


textarea{
    width: 75%;
}

button{
    padding: 10px;
}


@media screen and (min-width:970px) and (max-width:1428px){
    body{
        width: 90%;
        margin: 0 auto;
        
    }
}

@media screen and (min-width:300px) and (max-width:969px){
    body{
        width: 100%;
       
    }
}

@media screen and (min-width:300px) and (max-width:710px){
    .overflow{
        overflow-x: auto;
    }

    #fname{
        width: 30%;
    }
    #lname{
        width: 30%;
    }
    #email{
        width: 60%;
    }
    textarea{
        width: 80%;
    }
   
}

@media screen and (min-width:300px) and (max-width:610px){
    .overflow{
        overflow-x: auto;
    }

    #fname{
        width: 40%;
    }
    #lname{
        width: 40%;
    }
    #email{
        width: 80%;
    }
    textarea{
        width: 80%;
    }
   
}